<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" shutdownHook="disable">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%cyan{%date{ISO8601}%d{Z}} %yellow{[%t]} %highlight{%-5level} %magenta{%logger{0}} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.ernestojpg" level="debug" />
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
